/* Styling for All */
.container-fluid{
    margin:0;
}

/* Styling for Header */
.el1:hover{
    background-color: whitesmoke;
    color: black !important;
    font-weight: bold;
    border-radius: 10px;
}

/* Styling for Main */
#main-main{
    margin: 0;

}

.search-box {border: 1px solid #F0F0F0;background-color:#C8EEFD;margin: 10px 0px;}
button#Filter {
    padding: 5px 30px;
    background: #586e75;
    border: #485c61 1px solid;
    color: #FFF;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 20px;
    margin-bottom: 5px;
}
select#Place {
    margin-left: 20px;
    margin-top: 12px;
    padding-bottom: 25px;
}

.main-content{
    flex-wrap: nowrap;
}


/* Styling for Footer */
#footer-footer{
	background-color: #C0C0C0;
	height: 60px;

}

